# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.manifest
*.spec

# Byte-compiled / optimized / DLL files
*.so
*.dll

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter / IPython
.ipynb_checkpoints/

# === Environment variables ===
.env
# keep example file!
!.env.example

# === Databases ===
*.db
*.sqlite
*.sqlite3

# === Logs & cache ===
*.log
*.tmp
*.cache/
*.bak
*.swp

# === OS files ===
.DS_Store
Thumbs.db

# === IDEs ===
# PyCharm / JetBrains
.idea/
*.iml

# VSCode
.vscode/

# === Others ===
tree.txt
